.fj-soundtrack {
  min-height: 280px;
}
.fj-tracks {
  display: flex;
  flex-direction: column;
}

.fj-track {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;

  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.fj-track p {
  color: #ddb083;

  font-size: 17px;
}

.fj-track span,
.fj-track time {
  color: #8c6745;

  font-size: 13px;
}