/* -------------------- */
/* HERO */
/* -------------------- */

.music-hero {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  padding: 28px 32px;
  min-height: 150px;

  border-radius: 28px;

  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(12px);

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);

  margin-top: 6px;
}

/* scoatem complet glow-urile mov */
.music-hero::before,
.music-hero::after {
  display: none;
}

/* LEFT */

.hero-left {
  position: relative;
  z-index: 2;
}

.hero-label {
  display: inline-block;
  margin-bottom: 12px;

  color: #7c8396;
  font-size: 15px;
  font-weight: 600;
}

.hero-left h2 {
  font-size: 32px;
  line-height: 0.95;
  letter-spacing: -2px;
  margin: 0 0 14px;

  color: white;
}

.hero-left p {
  font-size: 15px;
  color: #9ea4b5;
  max-width: 520px;
  line-height: 1.5;
}

/* RIGHT */

.hero-stats {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 18px;
}

.hero-stat-card {
  width: 220px;
  min-height: 110px;

  border-radius: 24px;
  padding: 20px;

  background: rgba(255,255,255,.03);

  border: 1px solid rgba(255,255,255,.06);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  transition: 0.25s;
}



.stat-icon {
  width: 58px;
  height: 58px;

  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;

  background: rgba(255,255,255,.06);

  border: 1px solid rgba(255,255,255,.08);
}

.hero-stat-card h3 {
  font-size: 34px;
  margin: 0;
  line-height: 1;
  color: white;
}

.hero-stat-card span {
  display: block;
  margin-top: 8px;

  color: #9ca3ba;
  font-size: 14px;
}

.hero-stat-card > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* WAVES - fara glow mov */

.hero-waves {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1;

  opacity: 0.12;
}

.hero-waves img {
  width: 100%;
  display: block;

  filter: grayscale(1) brightness(0.9);
}

.wave-layer-1 {
  bottom: 20px;
  animation: waveMove 18s ease-in-out infinite;
}

.wave-layer-2 {
  bottom: 0;
  opacity: 0.07;
  animation: waveMove 26s linear infinite;
}

.wave-layer-3 {
  bottom: -20px;
  opacity: 0.04;
  animation: waveMove 36s linear infinite;
}

@keyframes waveMove {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0px);
  }
}