.creations-tabs {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}

.creations-tabs button {
  height: 42px;
  padding: 0 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.05);
  color: white;
}

.active-tab {
  background: #5a54ff !important;
}